.app {
  text-align: center;
}

.searchContainer {
	width: 50%;
	margin: auto;
	padding: 2rem 0;
}

.tableContainer {
	width: 100%;
	padding: 0 1rem;
}

table {
  table-layout: fixed;
}

th:nth-child(9) {
	width: 35%;
}